extends layout

block content
	h1= title
	p Welcome to #{title}
	p
		.btn-group
			button(id='redOn',class='btn btn-success') LED On
			button(id='redOff',class='btn btn-info') LED Off
		br
	div(id='result')

block append scripts
	script.
		$('#redOn').on('click', function (event) {
			event.preventDefault();
			$.getJSON('/redled/on', handleResult);
			console.log('Red On!');
		});
		$('#redOff').on('click', function (event) {
			event.preventDefault();
			$.getJSON('/redled/off', handleResult);
			console.log('Red Off!');
		});
		$('#greenOn').on('click', function (event) {
			event.preventDefault();
			$.getJSON('/greenled/on', handleResult);
			console.log('Green On!');
		});
		$('#greenOff').on('click', function (event) {
			event.preventDefault();
			$.getJSON('/greenled/off', handleResult);
			console.log('Green Off!');
		});
		function handleResult(data) {
			console.log(data);
			if (data.return_value === -1){
				$('#result').text('No HIGH or LOW setting read from arguments');
			} else if (data.return_value === 1) {
				$('#result').text('Led turned on!');
			} else {
				$('#result').text('Led turned off!');
			}
			if (data.error) {
				$('#result').text('Error: ' + data.error);
			}
		}